<h1>スケジュールの編集</h1>

<%= form_with model:@post do |f| %>
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title, class: 'form-control' ,id: 'post_title' %>

  <%= f.label :start_at, '開始日' %>
  <%= f.date_field :start_at, class: 'form-control', id:'post_start_at' %>

  <%= f.label :end_at, '終了日' %>
  <%= f.date_field :end_at, class: 'form-control', id:'post_end_at' %>

  <%= f.label :is_all_day, '終日' %>
  <%= f.check_box :is_all_day, {}, "true", "false" %>
  
  <%= f.label :description, 'スケジュールメモ' %>
  <%= f.text_area :description, class:'form-control', id: 'post_discription' %>

  <%= f.submit "保存" %>
<% end %>

<%= link_to 'キャンセル', posts_path %>

