<h1>予定一覧</h1>

<% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
 <% end %>

<%= link_to "新規登録", new_post_path %>

<table class="table_main">
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% if @posts.count > 0 %> 
      <% @posts.each do |post| %>  
        <tr>
          <td><%= post.id %></td>
          <td><%= post.title %></td>
          <td>
            <%= post.start_at.strftime('%Y/%m/%d') %>
          </td>
          <td><%= post.end_at.strftime('%Y/%m/%d') %></td>
          <td>
            <% if post.is_all_day %>
              <strong>○<strong>
            <% end %>
          </td>
          <td><%= post.created_at.to_s(:datetime_jp) %></td>
          <td>
            <%= link_to "詳細", post_path(post) %>
          </td>
          <td>
            <%= link_to "編集", edit_post_path(post) %>
          </td>
          <td>
            <%= link_to "削除", post_path(post), data: { turbo_method: :delete,  turbo_confirm: "本当に削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <td colspan ="9">現在登録しているスケジュールはありません</td>
    <% end %>
  </tbody>
</table>

<footer>
  <h1>本日の日付：<%= Date.today.strftime('%Y/%m/%d') %> スケジュール合計：<%= Post.count %></h1>
</footer>  
    